<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.imdb.mobile" />
    </queries>

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".TmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TraktApp">
        <activity
            android:name=".ui.person.PersonActivity"
            android:exported="false" />

        <activity
            android:name=".ui.lists.TraktListsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.movies.moviedetails.MovieDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_movie_details"
            android:theme="@style/Theme.TraktApp.NoActionBar" />
        <activity
            android:name=".ui.movies.MoviesMainActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shows.ShowsMainActivity"
            android:exported="false" />

        <receiver
            android:name=".services.CancelShowTrackingNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".services.ScheduleTrackedEpisodesBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.helper.EpisodeNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.shows.showdetails.ShowDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.shows.SeasonEpisodesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.shows.episodedetails.EpisodeDetailsActivity"
            android:exported="true"
            android:parentActivityName=".BaseActivity" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="trakt-oauth-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchResultsActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>